body{
background-image: url(Cocina.jpeg);
background-size: 1300px;
backface-visibility:inherit;
background-color:antiquewhite;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left: 200px; 
margin-right: 500px;
}